.card {
  background-color: white;
  color: gray;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 20rem;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
