.login-wrapper {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: #0e1118;
}
.or-div {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  font-size: 0.8rem;
}
.or-div::before,
.or-div::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #303237;
}
.or-div span {
  padding: 0rem 0.5rem;
}
.login-container {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 0 1rem;
}
.login-card {
  display: flex;
  flex-direction: column;
  background-color: #1d212a;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login-top {
  flex: 1;
  color: #dfdfdf;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-bot {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}
.input-wrapper input {
  padding-left: 37px;
}

.input-wrapper input::placeholder {
  color: #888;
}
.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.register-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #4297d8;
}
.register-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4297d8; /* uses the text color */
  transition: width 0.3s ease;
}
.register-link:hover {
  color: #62b0ec;
}
.register-link:hover::after {
  width: 100%;
  color: #62b0ec;
}
.login-welcome {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.login-message {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  display: flex;
  gap: 0.5rem;
}
.login-message span {
  color: #888;
}
.login-label {
  display: block;
  font-weight: 600;
  color: #dfdfdf;
}
.login-grid {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: none;
  padding: 0;
  margin: 0;
}
.login-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.login-field h2 {
  font-weight: 500;
}

.login-input {
  border: 1px solid #303237;
  color: #dfdfdf;
  padding: 0.5rem;
  border-radius: 10px;
  height: 45px;
  background-color: #0e1118;
}
.full-width {
  width: 100%;
}
.login-submit {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.login-submit button {
  width: 100%;
}

.login-submit button:active {
  transform: scale(0.97);
}
.login-submit button:disabled {
  background-color: #9ca3af;
  cursor: default;
  opacity: 0.7;
}

.login-link {
  color: #4297d8;
  font-weight: 600;
  text-decoration: none;
}

.google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9rem;
  color: #dfdfdf;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #3a3f4d;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #4aa3ff;
}
.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox:focus {
  outline: none;
  box-shadow: none;
}
.forgot-password {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 500;
}
