.navbar {
  display: flex;
  border-bottom: 1.95px solid rgb(41, 47, 53);
  padding: 1.5rem 1.5rem;
  color: white;
  justify-content: space-between;

/*background-color: #131a22;*/
}
.navbar-left h1 {
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
}
