.navbar {
  display: flex;
  border-bottom: 1.95px solid rgb(41, 47, 53);
  padding: 1rem 1.5rem;
  align-items: center;
  color: white;
  justify-content: space-between;

  /*background-color: #131a22;*/
}
.navbar-left h1 {
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
}
.profile-button {
  width: 40px;
  height: 40px;
  padding: 0.35rem 0.35rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
.profile-button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}
.profile-button svg {
  color: #404957;
  width: 50%;
  height: 50%;
}
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 90%;
  margin-top: 0.5rem;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0.75rem;
  z-index: 100;
  min-width: 150px;
}

.logout-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background: none;
  border: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.logout-btn:hover {
  text-decoration: underline;
}
.profile-menu-wrapper {
  position: relative;
  display: inline-block;
}