.navbar {
  display: flex;
  border-bottom: 1.95px solid rgb(41, 47, 53);
  padding: 1rem 1.5rem;
  align-items: center;
  color: white;
  justify-content: space-between;

  /*background-color: #131a22;*/
}
.navbar-left h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-right {
  display: flex;
}
.profile-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #2e323d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.profile-button:hover {
  background-color: #404553;
}

.profile-button svg {
  color: #fff;
  font-size: 20px;
}
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 90%;
  margin-top: 1rem;
  background: #2d333d;
  border: 1px solid #393b41;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  z-index: 100;
  min-width: 150px;
  display: flex;
  flex-direction: column;

 
}
.profile-dropdown hr {
  border: none;
  height: 1px;
  background-color: #393b41;
}
.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  justify-content: flex-start; 
  padding: 0.5rem 1rem; 
  border-radius: 6px; 
}

.logout-btn:hover {
  background-color: #3b414c; /* optional: better hover feedback */
  text-decoration: none; /* remove underline */
}
.profile-menu-wrapper {
  position: relative;
  display: inline-block;
}
