.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 14rem;
  position: relative;
  gap: 1rem;
}
.dashboard p{
color: white;
}
.dashboard-top {
  display: flex;
  gap: 1rem;
  height: 7rem;
}

.dashboard-total-subs h3 {
  font-weight: 400;
}

.dashboard-top-game {
  flex: 1;
  min-width: 400px;
}

.dashboard-top-game-title {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.dashboard-top-game-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.dashboard-top-game-title span {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}

.dashboard-top-game-total {
  display: flex;
  flex-direction: column;
  color: #ebecee;
}
.dashboard-top-game-total h1 {
  font-size: 2.8rem;

  color: #419dd9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.dashboard-top-game-total span {
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.dashboard-top-game h3 {
  font-size: 0.95rem;
  font-weight: 600;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-top-game p{

margin-top: 3rem;
}
.dashboard p{
color: #606972;
}

.dashboard-total-spent h1 {
  font-size: 2.8rem;
  color: #d84d4d;
}
.dashboard-total-spent h3 {
  font-weight: 400;
  font-size: 1.2rem;
}


.dashboard-search-container {
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: #171a20;
  width: 220px;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
}

.dashboard-search-container .search-icon {
  color: #606972;
}

.dashboard-search-container input {
  background: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  height: 100%;
}

.dashboard-search-container input::placeholder {
  color: #606972;
}

.dashboard-games{
min-height: 500px;
}