.signup-top{
margin-bottom: 3rem;
}
.password-field{
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.signup-button-container {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.login-redirect {
  display: flex;
  gap: 0.5rem;
  color: #888;
}
.password-description{
color: #888;
margin-bottom: 0.5rem;
}
.recaptcha{
margin-bottom: 0.5rem;
}