.landing-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #2a2d35;
  background-color: #0e1118;
  position: relative;
  z-index: 10;
}

.landing-logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-buttons button {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .landing-navbar {
    padding: 1.5rem 1rem;
  }
  .landing-logo {
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
  }
  .nav-buttons {
    gap: 0.2rem;
  }
  .blue-button,
  .blue-button-outline {
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
  }

}
