
.games {
  padding: 1rem;
}
.spinner{
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.spinner img{
  width: 60px;
  height:60px;
}


.grid{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #2e323d #171a21;
}

/* Chrome, Edge, Safari */
.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

.page-card {
  display: flex;
  flex-direction: column;
 
  background-color: #1d212a;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  color: #ebecee;
  
}
.page-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.image-overlay-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d212a;
}

.image-overlay-card-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.image-overlay-card img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
  object-fit: cover;
  z-index: 0;
}

.image-overlay-bg-fade {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to left, #1d212a62 0%, #1d212a 100%);
  z-index: 1;
}

.clear-filters-button {
  display: flex;
  gap: 0.35rem;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #3ea0d8;
  cursor: pointer;
  font-size: 0.9rem;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #1d212a;
  border-radius: 999px;
  width: 400px;
  padding: 0.25rem 0.3rem;
  height: 45px;
  gap: 0.5rem;
}

.search-icon {
  color: #606972;
  margin-left: 0.8rem;
  font-size: 1.1rem;
}

.search-container input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 0.9rem;
  height: 100%;
  padding-left: 0.5rem;
}

.search-container input::placeholder {
  color: #606972;
}

.search-button {
  background-color: #2e323d;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.4rem 1rem;
  font-weight: 500;
  height: 35px;

  cursor: pointer;
}

.search-button:hover {
  background-color: #2a2e38;
}
.input-error {
  border: 2px solid #d84d4d
}

.input-error-text {
  color: #d84d4d;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.blue-button {
  background-color: #4297d8;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.blue-button:hover {
  background-color: #2a7dbd;
}

.blue-button-outline {
  background-color: transparent;
  border: 1px solid #4297d8;
  color: #4297d8;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.blue-button-outline:hover {
  background-color: #4297d828;
}