.landing {
  position: relative;
  background-color: #0e1118;
  min-height: 100vh;
  overflow: hidden;
}
.landing-body {
  position: relative;
  z-index: 1;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}
.get-started-button {
  font-size: 18px;
  padding: 13px 28px;
}

/* Hero Section */
.hero {
  text-align: center;
  width: 100%;
  margin-bottom: 8rem;
  margin-top: 5rem;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #dfdfdf;
}

.hero p {
  font-size: 22px;
  color: #dfdfdf;
  margin-bottom: 40px;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}
.features p {
  font-size: 21px;
  color: #888;
}
.features h3 {
  font-size: 30px;
  color: #dfdfdf;
}
.feature-card {
  display: flex;
  gap: 3.3rem;
}

.feature-card div {
  display: flex;
  flex-direction: column;
}
.feature-card img {
  background-color: #1a1d25;
  border: 1px solid #2e3138;
  padding: 0.2rem;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.fade-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 0;
}
.fade-background-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}
.image-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e11189d;
  z-index: 1;
}
.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #0e111800 0%, #0e1118 100%);
}

@media (max-width: 768px) {
  .landing-body {
    width: 90vw;
  }
}
