.landing {
  position: relative;
  background-color: #0e1118;
  min-height: 100vh;
  overflow: hidden;
}
.landing-body {
  position: relative;
  z-index: 1;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}
.landing-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.get-started-button {
  font-size: 18px;
  padding: 13px 28px;
}

.demo-button {
  font-size: 18px;
  padding: 13px 28px;
  background-color: transparent;
  border: 2px solid #4197da;
  color: #4197da;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.demo-button:hover {
  background-color: #4198da3a;

}

/* Hero Section */
.hero {
  text-align: center;
  width: 100%;
  margin-bottom: 8rem;
  margin-top: 5rem;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #dfdfdf;
}

.hero p {
  font-size: 22px;
  color: #dfdfdf;
  margin-bottom: 40px;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}
.features p {
  font-size: 21px;
  color: #888;
}
.features h3 {
  font-size: 30px;
  color: #dfdfdf;
}
.feature-card {
  display: flex;
  gap: 3.3rem;
}

.feature-card div {
  display: flex;
  flex-direction: column;
}
.feature-card img {
  background-color: #1a1d25;
  border: 1px solid #2e3138;
  padding: 0.2rem;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.fade-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 0;
}
.fade-background-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}
.image-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e11189d;
  z-index: 1;
}
.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #0e111800 0%, #0e1118 100%);
}

@media (max-width: 768px) {
  .landing-body {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .landing-body {
    width: 100vw;
    padding: 2rem 2rem;
  }
  .feature-card {
    flex-direction: column;
  }
  .feature-card img {
    width: 100%;
  }

  .feature-card div h3 {
    font-size: 24px;
  }
  .feature-card div p {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero p {
    font-size: 18px;
  }
  .get-started-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  .fade-background-wrapper img {
    object-position: center center;
  }
}
